;; shadow-cljs configuration
{:source-paths
 ["src"
  "test"]

 :lein true
 :dependencies [[org.clojure/core.async "0.4.474"]
                [check "0.0.2-SNAPSHOT"]]

 :builds {:tests {:target :node-test
                  :output-to "target/all_tests.js"
                  :autorun true}
          :integration {:target :node-script
                        :output-to "target/integration.js"
                        :main repl-tooling.integration.ui/main}}}
                        ; :autorun true}}}
