;; shadow-cljs configuration
{:source-paths ["src" "test"]

 :lein true
 :dependencies [[org.clojure/core.async "0.4.474"]
                [check "0.0.2-SNAPSHOT"]]

 :builds {:tests {:target :node-test
                  :output-to "target/all_tests.js"
                  :autorun true}
          :integration {:target :browser
                        :output-dir "target/integration"
                        :asset-path "target/integration"
                        :modules {:main {:entries [repl-tooling.integration.ui]}}
                        :compiler-options {:devcards true}}}}
